:root {
    --primary-color: hsl(2 100 69);
    --line-color: hsl(0 0 88);
    --hover-color: hsl(0, 0%, 100%);
    --background-color: hsl(0 0 100);
    --font-color: hsl(0 0 14);
    /*--primary-color: hsl(2 100 69);
    --line-color: hsl(0, 0%, 100%);
    --hover-color: hsl(0 0% 100%);
    --background-color: hsl(0, 0%, 14%);
    --text-color: hsl(0 0% 100%);*/
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--background-color);
  width: fit-content;
  margin: 0;
  margin-left: 10px;
}

* {
  color: var(--text-color);
}

main {
  padding-left: 20px;
  width: 100%;
}

nav {
  position: sticky;
    top: 0;
  margin: 0;
  height: 100vh;
  padding: 0;
}

#navbar {
  box-sizing: border-box;
  height: 100%;
  margin-top: 0;
  padding: 0;
  position: sticky;
    top: 0;
  align-self: start;
  width: min-content;
  overflow: hidden;
  background-color: var(--background-color);
  border-right: 1px solid var(--line-color);
  border-bottom: none;
  list-style-type: none;
  align-items: left;
}

#navbar .listItem{
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 2em;
  text-decoration: none; 
  font-size: 20px;
  height: min-content;
  margin-right: 10px;
  min-width: 1fr;
  padding: 0.5em;

  &:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
    border-radius: 1em;
    transition: 100ms;

      & span {
        color: var(--hover-color);
        transition: 100ms;
      }

      & svg {
        fill: var(--hover-color);
        transition: 100ms;
      }
  }
  & .icon{
    width: 2em;
    height: 2em;
    fill: var(--primary-color);
    transition: 100ms;
  }

  & span {
    color: var(--primary-color);
    padding: 10px;
    transition: 100ms;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.navbar .listItem span {
  color: var(--primary-color);
  padding: 10px;
  transition: 100ms;
  font-size: 1.5em;
  font-weight: bold;
}

#navbar #listItem #logo{
  margin-top: 0px;
  float: left;
  width: 300px;
  height: max-content;
  margin-right: 20px;
}

.welcome #login, .welcome #signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /*border-right: 1px solid var(--line-color);*/
}

.welcome {
border: 1px solid var(--line-color);
border-radius: 1em;
align-items: center;
max-height: max-content;
display: flex;
top: 0;
position: relative;
z-index: 0;
width: 50em;
}

.emphasis {
  color: var(--primary-color);
  font-weight: bold;
}

.welcome *{
  margin-left: 10px;
}

.sliderThingy {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
    top: 0;
    left: 0;
  background-color: var(--primary-color);
  overflow:hidden;
  z-index: -1;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  transition: 100ms;
  margin: 0;
}

/*.welcome:hover::after {
  content: '';
  transform: translateX(100%);
  background-color: var(--primary-color);
  overflow:hidden;
  z-index: -1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: 100ms;
}*/

.subheading {
  padding: 0.5em;
  width: max-content;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
    margin-top: 0.5em;
  }
}

.form-input{
  border-radius: 1em;
  border: 1px solid var(--line-color);
  padding: 0.5em;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 1em;
}

.welcomeMessage {
  margin-bottom: 100px;
  margin-left: 20px;
  font-size: 50px;
}

#trendingTitle {
  margin-left: 20px;
  font-size: 75px;
}

.trendingPostContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: max-content;
}

.trendingPost{
  width: 300px;
  height: max-content;
  border: 1px solid var(--line-color);
  border-radius: 1em;
  padding: 10px;
  transition: 100ms;

  &:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
    transition: 100ms;
    cursor: pointer;
  }

  & img {
    width: 262px;
    height: 144px;
    border-radius: 1em;
  }
}

.trendingPostWrapper {
  width: max-content;
  height: max-content;
  align-items: center;
}

.post{
  text-decoration: none;
  color: black;
}

.formForLoginOrSignUp {
  align-items: center; 
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-submit {
  margin-left: -10px ;
}

.profilePicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--line-color);
  overflow: hidden;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  border: 1px solid var(--line-color);
  border-radius: 1rem;
  padding: 1em;
}

.profileID {
  font-size: 12.5px;
  color: var(--primary-color);
  margin-top: -20px;
}

.copyButton {
  border: 1px solid var(--line-color);
  border-radius: 1em;
  color: var(--primary-color);
  background-color: transparent;
  padding: 0.5em;
  font-size: 10px;
  transition: 100ms;

  &:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
    transition: 100ms;
    cursor: pointer;
  }
}

.gridContainer {
  grid-template-rows: 1fr;
  gap: 1em;
  padding: 20px;
  overflow-x: hidden;
  width: 100%;
}

.gridContainer span {
  width: max-content;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--line-color);
  border-radius: 1em;
  padding: 10px;
  transition: 100ms;
  max-width: 100%;

  & img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: 1px solid var(--line-color);
    transition: 100ms;
  }
}

.gridContainer span:hover {
  background-color: var(--primary-color);
  color: var(--hover-color);
  transition: 100ms;
  transform: translateY(-10px);
  cursor: pointer;

  & img {
    border-color: var(--primary-color);
    transition: 100ms;
  }
}

.gridContainer a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.form-submit {
  color: hsl(0, 0%, 14%);
}

