:root {
    --primary-color: hsl(2 100 69);
    --line-color: hsl(0 0 88);
    --hover-color: hsl(0, 0%, 100%);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid var(--line-color);
  z-index: 1;
}

#navbar .listItem{
  float: left;
  margin-top: 35px;
  display: block;
  text-align: center;
  margin-left: 30px;
  margin-right: 35px;
  text-decoration: none; 
  font-size: 20px;
}

#navbar #listItem #logo{
  margin-top: 0px;
  float: left;
  width: 300px;
  height: max-content;
}

#navbar .listItem h2 {
    color: var(--primary-color);
    padding: 10px;
    transition: 100ms;
}

#navbar .listItem h2:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
    border-radius: 1em;
    padding: 10px;
    transition: 100ms;
}

.welcome #login, .welcome #signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /*border-right: 1px solid var(--line-color);*/
}

.welcome {
border: 1px solid var(--line-color);
border-radius: 1em;
align-items: center;
max-height: max-content;
display: flex;
top: 0;
position: relative;
z-index: 0;
}

.emphasis {
  color: var(--primary-color);
  font-weight: bold;
}

.welcome *{
  margin-left: 10px;
}

.welcome::after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow:hidden;
  z-index: -1;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  transition: 100ms;
}

/*.welcome:hover::after {
  content: '';
  transform: translateX(100%);
  background-color: var(--primary-color);
  overflow:hidden;
  z-index: -1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: 100ms;
}*/

.subheading {
  padding: 0.5em;
  width: max-content;
}

.form-input{
  border-radius: 1em;
  border: 1px solid var(--line-color);
  padding: 0.5em;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 1em;
}

.form-input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
}

.subheading::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
  margin-top: 0.5em;
}

.welcomeMessage {
  margin-bottom: 100px;
  margin-left: 20px;
  font-size: 50px;
}

#trendingTitle {
  margin-left: 20px;
  font-size: 75px;
}

.trendingPostContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.trendingPost{
  width: 300px;
  height: max-content;
  border: 1px solid var(--line-color);
  border-radius: 1em;
  padding: 10px;
  transition: 100ms;
}

.trendingPostWrapper {
  width: max-content;
  height: max-content;
  align-items: center;
}

.post{
  text-decoration: none;
  color: black;
}

.trendingPost:hover{
  color: var(--hover-color);
  background-color: var(--primary-color);
  transition: 100ms;
  align-items: center;
}

.trendingPost img{
  width: 262px;
  height: 144px;
  border-radius: 1em;
}

.formForLoginOrSignUp {
  align-items: center; 
  text-align: center;
}

.form-submit {
  margin-left: -10px ;
}

.formForLoginOrSignUp{
  display: flex;
  flex-direction: column;
}

.profilePicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--line-color);
  overflow: hidden;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  border: 1px solid var(--line-color);
  border-radius: 1rem;
  padding: 1em;
}

.profileID {
  font-size: 12.5px;
  color: var(--primary-color);
  margin-top: -20px;
}

.copyButton {
  border: 1px solid var(--line-color);
  border-radius: 1em;
  color: var(--primary-color);
  background-color: transparent;
  padding: 0.5em;
  font-size: 10px;
  transition: 100ms;
}

.copyButton:hover {
  background-color: var(--primary-color);
  color: var(--hover-color);
  transition: 100ms;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  padding: 20px;
  overflow-x: hidden;
  width: 100%;
}

.gridContainer span {
  width: max-content;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--line-color);
  border-radius: 1em;
  padding: 10px;
  transition: 100ms;

  & img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: 1px solid var(--line-color);
    transition: 100ms;
  }
}

.gridContainer span:hover {
  background-color: var(--primary-color);
  color: var(--hover-color);
  transition: 100ms;
  transform: translateY(-10px);
  cursor: pointer;

  & img {
    border-color: var(--primary-color);
    transition: 100ms;
  }
}

.gridContainer a {
  text-decoration: none;
  color: black;
}